$color-primary: #9c2910;
$color-primary-light: #8d4141;
$color-primary-light2: #b87272;
$color-primary-dark: #7a200d;
$color-primary-dark2: #5c1001;
$color-primary-link: #5e190a;

$color-grey: #333333;
$color-grey-light: #524d4d;
$color-grey-dark: #1b0703;
$color-grey-neutral: #7e8286;

$color-white: #f7f7f7;
$color-white-dark: #e3e4e8;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
$serif: "Playfair Display", serif;
