*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in, color 0.1s ease-in;
}

html {
    overflow: overlay;
    font-family: $sans-serif;
    font-size: 62.5%;
    background-color: $light-background;
}

body {
    @include flex(column, center, center, center, 0, wrap);

    width: 100vw;
    height: 100vh;
}

#dark {
    color: $dark-text;
    background-color: $dark-background;
}

input,
button,
textarea,
select {
    font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}
