.big-btn {
    @include hover;

    aspect-ratio: 1/1;
    width: 100%;
    padding: 4rem;

    font-size: 1.8rem;
    font-weight: bold;
    color: $light-foreground;

    background-color: $light-blue;
    border: none;
    border-radius: 2em;
    box-shadow: $light-shadow 0 8px 24px;

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: $light-blue-light;
    }

    &:active {
        cursor: pointer;
        background-color: $light-blue-dark;
    }
}

.big-btn-container {
    @include grid(2, 2rem);
    @include respond-phone {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.theme-btn {
    @extend .big-btn;

    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);

    width: 10rem;
    height: 10rem;
}

#dark {
    .big-btn {
        color: $dark-text;
        background-color: $dark-blue;
        box-shadow: $dark-shadow 0 8px 24px;

        &:hover,
        &:focus {
            background-color: $dark-blue-light;
        }

        &:active {
            background-color: $dark-blue-dark;
        }
    }
}
