.container {
    padding: 4rem;
    background-color: $light-foreground;
    border-radius: 2em;
    box-shadow: $light-shadow 0 8px 24px;
}

#dark {
    .container {
        background-color: $dark-foreground;
        box-shadow: $dark-shadow 0 8px 24px;
    }
}

.container-layout {
    @include flex(column, center, center, center, 2rem, nowrap);
}
